* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  display: block;
  width: 600px;
  height: 100%;
  margin: 50px auto;
}

.game {
  width: 600px;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.start-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background-color: #fff;
  background-image: url("./snake.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.startForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startForm__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.startForm input {
  font-size: 16px;
  margin-bottom: 10px;
}

.startButton {
  width: 100px;
  height: 30px;
  font-size: 18px;
}

.game-box {
  position: relative;
  width: 600px;
  height: 600px;
  margin-bottom: 9px;
  border: 2px solid #000;
}

.title {
  font-size: 48px;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background-color: #444444;
  color: #fff;
}

.game-over__title {
  margin-bottom: 10px;
}

.exitButton {
  width: 60px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

.score {
  font-size: 18px;
  margin-bottom: 10px;
}

.restartButton {
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

.board {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: orange;
  font-size: 18px;
}

.snake-dot {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: green;
  border: 2px solid #fff;
  z-index: 1;
}

.snake-feed {
  position: absolute;
  width: 4%;
  height: 4%;
  border: 2px solid #fff;
  z-index: 2;
}

.buttonsBox {
  display: flex;
  justify-content: space-between;
}

.pauseBtn {
  width: 60px;
  height: 20px;
  margin-bottom: 10px;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
